/* Personal Stylesheet */
.email-box {
    width: 60%;
    margin: 7% auto;
}

p.display-time {
    display: inline-block;
    margin: 0;
}

.mr05 {
    margin-right: 5px !important;
}

.workshift-form .row{margin-bottom:10px;padding-bottom:5px;border-bottom:1px dotted #ccc;}
.workshift-form .row:last-child{border-bottom:0;}
label.text-bold{font-weight:700 !important;}
table.data-list small.icon{display:inline-block;width:12px;text-align:center;}
.day-overlap{display:none;}

.apply-opacity {
    opacity: .50;
}

.ml05 {
    margin-left: 5px !important;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default{padding:6px 1px;}